name: Deploy downloader-converter-pricelists

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build binary
        run: |
          go mod tidy
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 \
          go build -o app cmd/app/main.go

      - name: Deploy binary
        run: |
          sudo cp app /opt/downloader-converter-pricelists/app
          sudo chmod +x /opt/downloader-converter-pricelists/app

      - name: Restart service
        run: sudo systemctl restart downloader-converter-pricelists
